.skills-container {
  text-align: center;
  margin-top: 2rem;

  h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .skill-image {
    width: 100px;
    height: 100px;
    margin: 0.5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease; // Agregar transición a la transformación
  }

  .skill-image:hover {
    transform: scale(1.1); // Escala ligeramente la imagen al hacer hover
  }
}
